<div class="content-header">
  <div class="img-portal">
    <img src="./assets/inicio/img.png" alt="Imagen" width="100">
  </div>
  <span class="title-page">
    <p>Sistema Financiero Personal</p>
  </span>
  <nav class="content-nav">
    <ul>
      <li class="li-nav"><a routerLink="/inicio">Home</a></li>
      <div class="dropdown">
        <span class="li-nav">Gestion</span>
        <div class="dropdown-content">
          <li class="li-nav-dropdown"><a routerLink="/gestion-cuenta">Gestion de Cuenta</a></li>
          <li class="li-nav-dropdown"><a routerLink="/gestion-movimiento">Gestion de Movimiento</a></li>
          <li class="li-nav-dropdown"><a routerLink="/categorizacion-movimiento">Categorizacion de Movimiento</a></li>
        </div>
      </div>
      <div class="dropdown">
        <span class="li-nav">Operaciones</span>
        <div class="dropdown-content">
          <li class="li-nav-dropdown"><a routerLink="/transaccion">Transaccion</a></li>
          <li class="li-nav-dropdown"><a routerLink="/transferencia">Transferencia</a></li>
          <li class="li-nav-dropdown"><a routerLink="/consulta-filtro">Consultas y Filtros</a></li>
        </div>
      </div>
      <li class="li-nav"><a routerLink="/">Login</a></li>
      <li class="li-nav"><a routerLink="/registro">Register</a></li>
    </ul>
  </nav>
</div>
