<div id="form">
  <form id="form-content" [formGroup]="usuarioForm"  (ngSubmit)="onLogin()">
    <li id="registro">
      <button class="btn-registro" routerLink="/registro">Registrarse</button>
    </li>
    <div class="img-user">
      <img src="./assets/img_2.png" alt="UsuarioModel">
    </div>
    <div class="input-form">
      <input type="email" name="susuario" id="susuario" placeholder="Correo" formControlName="susuario">
    </div>
    <div class="input-form">
      <input type="password" name="spassword" id="spassword" placeholder="Contraseña" formControlName="spassword">
    </div>
    <!--<button type="submit" class="sudmit" routerLink="/inicio">Iniciar session</button>-->
    <button type="submit" class="sudmit">Iniciar session</button>

  </form>
</div>
